* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

:root {
    /* при 10px - 1rem */
    font-size: 10px;
}

$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-light-xl: #FFFFFF;
$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;

$start-screen-gradient-background: url(../../assets/img/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
$footer-gradient-background: url(../../assets/img/noise_transparent.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;

@mixin h2 {
    font: {
        family: Georgia;
        style: normal;
        weight: 400;
        size: 4.4rem;
    }
    line-height: 5.8rem;  /*or 130% */
}

@mixin h3 {
    font: {
        family: Georgia;
        style: normal;
        weight: normal;
        size: 3.5rem;
    }
    letter-spacing: 0.21rem;
    line-height: 130%;
}

@mixin h3_mobile {
    font: {
        family: Georgia;
        style: normal;
        weight: normal;
        size: 2.5rem;
    }
    letter-spacing: 0.21rem;
    line-height: 130%;
}

@mixin h4 {
    font: {
        family: Georgia;
        style: normal;
        weight: normal;
        size: 2rem;
    }
    line-height: 115%;
    letter-spacing: 0.12rem;
}

@mixin h5 {
    font: {
        family: Georgia;
        style: normal;
        weight: normal;
        size: 1.5rem;
    }
    line-height: 110%;
    letter-spacing: 0.06em;
}

@mixin paragraph-L {
    font: {
        family: Arial;
        style: normal;
        weight: normal;
        size: 1.5rem;
    }
    line-height: 160%;
}

@mixin paragraph-S {
    font: {
        family: Arial;
        style: italic;
        weight: normal;
        size: 1.2rem;
    }
    line-height: 150%;
}

@mixin logo_title {
    font: {
        family: Georgia;
        style: normal;
        weight: normal;
        size: 3.2rem;
    }
    line-height: 110%;
    /* or 35px */
    letter-spacing: 0.192rem;
}

    
@mixin paragraph-mobile-menu {

    font: {
        family: Arial;
        style: normal;
        weight: 400;
        size: 3.2rem;
    }
    line-height: 160%;
}

@mixin logo_subtitle {
    font: {
        family: Arial;
        style: normal;
        weight: normal;
        size: 1.3rem;
    }
    line-height: 110%;
    letter-spacing: 0.13rem;
}

@mixin pets_card_title {
    font: {
        family: Georgia;
        style: normal;
        weight: normal;
        size: 2rem;
    }
    line-height: 2.3rem;
    letter-spacing: 0.06em;
}

@mixin pets_cards_button {
    border: 2px solid $color-primary;
    padding: 1.3rem 4.3rem;
    border-radius: 10rem;
    background: none;
    cursor: pointer;

    font: {
        family: Georgia;
        style: normal;
        weight: normal;
        size: 1.7rem;
    }
    line-height: 130%;
    letter-spacing: 0.1rem;

    &:hover {
        border-color: $color-primary-light;
        background-color: $color-primary-light;
    }
}

@mixin button-paginator {
    width: 5.2rem;
    height: 5.2rem;
    border: 2px solid $color-primary;
    border-radius: 10rem;
    @include h4;
    background: transparent;
    color: $color-dark-3xl;
    cursor: pointer;

    &:hover {
        border-color: $color-primary-light;
        background-color: $color-primary-light;
    }
}

@mixin button-inactive {
    cursor: default;
    background: none;
    border: 2px solid $color-dark-s;
    color: $color-dark-s;

    &:hover {
        background: none;
        border: 2px solid $color-dark-s;
        color: $color-dark-s;
    }
}

@mixin button-active {
    padding: 1.1rem 2rem;
    border: 2px solid $color-primary;
    background: $color-primary;
    color: $color-dark-3xl;
    cursor: pointer;

}

button:focus {
    outline: none;
}

.header {
    top: 0;
    padding: 3rem 0;
    position: -webkit-sticky;
    position: sticky;
    width: 100vw;
    max-width: 100%;
    background: $color-light-xl;
}

.wrapper {
    margin: 0 auto;
    max-width: 120rem;
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: column;

    &__title {
        @include logo_title;
        color: $color-dark-l;

        a {
            text-decoration: none;
            color: $color-dark-l !important;
        }
    }
    
    &__subtitle {
        margin-top: 1rem;
        text-align: center;
        @include logo_subtitle;
        color: $color-dark-3xl;
    }
}

.menu {
    width: 44.3rem;
    display: flex;
}

#menu-mobile {
    display: none;
}

.menu_burger {
    display: none;
}

.list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.list__item {
    display: flex;
    align-items: center;

    .list__link {
        text-decoration: none;
        font-family: Arial;
        font-style: normal;
        font-size: 1.5rem;
        letter-spacing: 0px;
        line-height: 160%; 
        color: $color-dark-l;

        &_active {
            color: $color-dark-3xl;
            border-bottom: solid 3px $color-primary;
        }

        &_disabled {
            color: $color-dark-l;
            pointer-events: none;
        }
        
        &:hover {
            color: $color-dark-3xl;
        }
    
    }
}

.main {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
    .header {
        top: 0;
        padding: 3rem 0;
        position: sticky;
        width: 100vw;
        max-width: 100%;
        background: $color-light-xl;
    }

    .wrapper {
        margin: 0 auto;
        width: 70.8rem;
        max-width: 70.8rem;
    } 
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    body {
        overflow-x: hidden;
    }

    .header {
        top: 0;
        padding: 3rem 0;
        position: -webkit-sticky;
        position: sticky;
        width: 100vw;
        max-width: 100%;
        background: $color-light-xl;
        z-index: 1;
    }

    .wrapper {
        margin: 0 auto;
        width: 30rem;
        max-width: 30rem;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        z-index: 1;
        display: flex;
        flex-direction: column;
    
        &__title {
            @include logo_title;
            color: $color-dark-l;
        }
        
        &__subtitle {
            margin-top: 1rem;
            text-align: center;
            @include logo_subtitle;
            color: $color-dark-3xl;
        }
    }

    .overlay {
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(41, 41, 41, 0.6);
    }
    
    .overlay-display {
        z-index: 1;
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(41, 41, 41, 0.6);
        opacity: 1;
    }

    .overlay-none {
        display: none;
    }

    .menu_burger {
        z-index: 1001;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 2.2rem;
        background: url('../../assets/svg/burger_pets.svg');
        border: none;
        transition: 0.5s;
        cursor: pointer;
    }

    .active.menu_burger {
        z-index: 999;
        transform: rotate(-90deg);
        transition: 0.5s;
        background: url('../../assets/svg/burger.svg');
    }

    #menu {
        z-index: 2;
        width: 32rem;
        height: 100%;
        max-height: 100%;
        padding-top: 0;
        position: fixed;
        top: 0;
        right: 0;
        flex-direction: column;
        justify-content: center;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        background-color: #292929;
    }

    .slide-in {
        animation: slide-in 0.5s forwards;
        -webkit-animation: slide-in 0.5s forwards;
    }

    .slide-out {
        animation: slide-out 0.5s forwards;
        -webkit-animation: slide-out 0.5s forwards;
    }

    @keyframes slide-in {
        100% { right: 0; }
        0% {right: 0;}
        100% {transform: translateX(calc(0%));}
        0% { transform: translateX(100%); }
    }

    @-webkit-keyframes slide-in {
        100% { right: 0; }
        0% {right: 0;}
        100% { transform: translateX(0%);}
        0% { transform: translateX(100%); }
    }

    @keyframes slide-out {
        0% { right: 0;}
        100% { right: 0; }
        0% { transform: translateX(0%); }
        100% { transform: translateX(100%); }
    }

    @-webkit-keyframes slide-out {
        0% { right: 0;}
        100% { right: 0; }
        0% { transform: translateX(0%); }
        100% { transform: translateX(100%); }
    }

    .list {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: initial;
        align-items: center;
        list-style-type: none;
    }
    
    .list__item {
        display: flex;
        align-items: center;
        margin-bottom: 4rem;
    
        .list__link {
            @include paragraph-mobile-menu;
            text-decoration: none; 
            color: $color-dark-s;
    
            &_active {
                color: $color-light-s;
                border-bottom: solid 3px $color-primary;
            }
    
            &_disabled {
                color: $color-dark-s;
                pointer-events: none;
            }
            
            &:hover {
                color: $color-light-s;
            }
        }
    }
}

.pets {
    padding-top: 8.1rem;
    padding-bottom: 10rem;
    background: $color-light-l;

    &__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        span {
            display: block;
        }
        @include h3;
        color: $color-dark-l;
        text-align: center;
    }

    &__content {
        padding: 6rem 0;
        display: flex;
        justify-content: space-between; 

    }

    &__cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;

        &__oneCard:nth-child(-n+4) {
            margin-bottom: 3rem;
        }

        &__oneCard {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 0.9rem;
            background: $color-light-s;

           &:hover {
                box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
                background: $color-light-xl;
                cursor: pointer;
            }
        }

        &__image {
            display: block;
            width: 100%;
        }

        &__title {
            margin-top: 3rem;
            @include pets_card_title;
            text-align: center;
        }

        &__button {
            margin: 3rem 0;
            @include pets_cards_button;
            color: $color-dark-3xl;
        }
    }

    &__navigation {
        width: 34rem;
        display: flex;
        justify-content: space-between;
    }
    
    .navigation__button-paginator {
        @include button-paginator;
    }

    .button_inactive {
        @include button-inactive;
    }

    .button_active {
        @include button-active;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
    .pets {
        padding-top: 8.1rem;
        padding-bottom: 7.6rem;
        background: $color-light-l;
    
        &__wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        &__title {
            span {
                display: block;
            }
            @include h3;
            color: $color-dark-l;
            text-align: center;
        }
    
        &__content {
            padding: 3rem 6.4rem 4rem 6.4rem;
            display: flex;
            justify-content: space-between; 
        }
    
        &__cards {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;
            
            &__oneCard:nth-child(-n+4) {
                margin-bottom: 3rem;
            }

            &__oneCard:nth-child(n+7) {
                display: none;
            }

            &__oneCard {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 0.9rem;
                background: $color-light-s;
    
               &:hover {
                    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
                }
            }
              
            &__image {
                display: block;
                width: 100%;
            }
    
            &__title {
                margin-top: 3rem;
                @include pets_card_title;
                text-align: center;
            }
    
            &__button {
                margin: 3rem 0;
                @include pets_cards_button;
                color: $color-dark-3xl;
            }
        }
    
        &__navigation {
            width: 34rem;
            display: flex;
            justify-content: space-between;
        }
        
        .navigation__button-paginator {
            @include button-paginator;
        }
    
        .button_inactive {
            @include button-inactive;
        }
    
        .button_active {
            @include button-active;
        }
    }
    
    
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .pets {
        padding-top: 4.2rem;
        padding-bottom: 4.2rem;
        background: $color-light-l;

        & .wrapper {
            width: 30rem;
            max-width: 30rem;
        }
    
        &__title {
            span {
                display: block;
            }
            @include h3_mobile;
            color: $color-dark-l;
            text-align: center;
        }
    
        &__content {
            padding: 4.2rem 1.5rem 4.2rem 1.5rem;
            display: flex;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }
    
        &__cards {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;
        
            &__oneCard:nth-child(-n+2) {
                margin-bottom: 3rem;
            }

            &__oneCard:nth-child(3n) {
                margin-bottom: 0;
            }

            &__oneCard:nth-child(n+4) {
                display: none;
            }

            &__oneCard {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 0.9rem;
                background: $color-light-s;
    
               &:hover {
                    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
                }
            }
    
            &__image {
                display: block;
                width: 100%;
            }
    
            &__title {
                margin-top: 3rem;
                @include pets_card_title;
                text-align: center;
            }
    
            &__button {
                margin: 3rem 0;
                @include pets_cards_button;
                color: $color-dark-3xl;
            }
        }
    
        &__navigation {
            width: 30rem;
            display: flex;
            justify-content: space-between;
        }
        
        .navigation__button-paginator {
            @include button-paginator;
        }
    
        .button_inactive {
            @include button-inactive;
        }
    
        .button_active {
            @include button-active;
        }
    }
}



.footer {
    display: flex;
    background: $footer-gradient-background;

    &__wrapper {
        width: 100%;
        padding-top: 4rem;
        display: flex;
        justify-content: space-between;
    }

    &__contacts {
        padding-top: 1.7rem;
        max-width: 27.8rem;
        display: flex;
        flex-direction: column;
    }

    &__contacts-title {
        span {
            display: block;
        }
        @include h3;
        letter-spacing: 0.2rem;
        color: $color-light-xl;
    }

    &__contacts-email {
        margin: 3.9rem 0;
        max-width: 25.1rem;
        display: flex;
        align-items: center;

        &-text {
            padding-left: 2rem;
            @include h4;
            color: $color-primary;
            text-decoration: none;
        }
    }

    &__contacts-phone {
        max-width: 25.1rem;
        display: flex;
        align-items: center;

        &-text {
            padding-left: 2rem;
            @include h4;
            color: $color-primary;
            text-decoration: none;
        }
    }

    &__location {
        padding-top: 1.7rem;
        max-width: 30.2rem;
        display: flex;
        flex-direction: column;
    }

    &__location-title {
        span {
            display: block;
        }
        @include h3;
        color: $color-light-xl;
    }

    &__location-boston {
        margin: 3.2rem 0;
        display: flex;
        align-items: center;

        &-text {
            padding-left: 2rem;
            @include h4;
            color: $color-primary;
            text-decoration: none;
        }
    }

    &__location-london {
        display: flex;
        align-items: center;

        &-text {
            padding-left: 2rem;
            @include h4;
            color: $color-primary;
            text-decoration: none;
        }
    }

    &_image-wrapper {
        display: flex;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
    .footer {
        &__wrapper {
            width: 100%;
            padding-top: 3rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
        }

        &__contacts {
            padding-top: 0;
        }

        &__location {
            padding-top: 0;
        }

        &__image {
            padding-top: 6.5rem;
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .footer {
        display: flex;
        background: $footer-gradient-background;

        .wrapper {
            margin: 0 auto;
            width: 30rem;
        }

        &__wrapper {
            width: 100%;
            padding: 3rem 1rem 0 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__contacts {
            padding-top: 0;
            width: 27.8rem;
            max-width: 27.8rem;
            display: flex;
            flex-direction: column;
        }

        &__contacts-title {
            width: 100%;
            span {
                display: block;
            }
            @include h3_mobile;
            letter-spacing: 0.2rem;
            color: $color-light-xl;
            text-align: center;
        }

        &__contacts-email {
            margin: 3.8rem 0;
            max-width: 25.1rem;
            display: flex;

            &-text {
                padding-left: 2rem;
                @include h4;
                color: $color-primary;
                text-decoration: none;
            }
        }

        &__contacts-phone {
            max-width: 23.9rem;
            display: flex;

            &-text {
                padding-left: 1.8rem;
                @include h4;
                color: $color-primary;
                text-decoration: none;
            }
        }

        &__location {
            margin-top: 3.9rem;
            padding-top: 0;
            max-width: 30rem;
            display: flex;
            flex-direction: column;
        }

        &__location-title {
            span {
                display: block;
            }
            @include h3_mobile;
            color: $color-light-xl;
            text-align: center;
        }

        &__location-boston {
            margin: 4rem 0 3.8rem 0;
            display: flex;
            align-items: center;

            &-text {
                padding-left: 2rem;
                @include h4;
                color: $color-primary;
                text-decoration: none;
            }
        }

        &__location-london {
            display: flex;
            align-items: center;

            &-text {
                padding-left: 2rem;
                @include h4;
                color: $color-primary;
                text-decoration: none;
            }
        }

        &_image-wrapper {
            display: flex;
        }

        &__image {
            padding-top: 3.9rem;
            max-width: 26rem;
        }

    }
}

.body_lock {
    overflow: hidden;
}

.popup {
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    z-index: 1000;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
    color: black;
}
  
.popup_visible {
    visibility: visible;
    opacity: 1;
}
  
.popup_visible .popup__card {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
}
  
.popup__card {
    width: 90rem;
    z-index: 1001;
    position: fixed;
    background-color: $color-light-s;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%) scale(0.9);
            transform: translate(-50%, -50%) scale(0.9);
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    border-radius: 0.8rem;
}
  
.popup__close-btn {
    position: absolute;
    right: -4.2rem;
    top: -5.2rem;
    width: 5.2rem;
    height: 5.2rem;
    background: transparent;
    border: 0.2rem solid $color-primary;
    border-radius: 100%;
    -webkit-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
}
  
.popup__close-btn:hover {
    cursor: pointer;
    border: 0.2rem solid $color-primary-light;
    background-color: $color-primary-light;
}
  
.popup__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $color-light-s;
    border-radius: 0.8rem;
}
  
.popup__img {
    width: 50rem;
}

.popup__img img {
    width: 100%;
    height: 100%;
    border-radius: 0.9rem;
}
  
.popup__info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    justify-content: start;
    margin-top: 5rem;
    margin-right: 2rem;
    color: black;
    width: 35rem;
}
  
.popup__info h3 {
    margin-bottom: 1rem;
    @include h3;
}
  
.popup__info h4 {
    @include h4;
    margin-bottom: 4rem;
}
  
.popup__info p, .popup__info span {
    @include h5;
    margin-bottom: 4rem;
}
  
.popup__item:before {
    content: "\2022";
    color: $color-primary;
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    margin-right: 1.5rem;
}
  
.popup__item:not(:last-child) {
    margin-bottom: 1rem;
}

.popup__list {
    list-style-type: none;
}

.popup__dark-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(41, 41, 41, 0.6);
}
  
.popup__dark-screen:hover {
    cursor: pointer;
}
  
@media only screen and (min-width: 768px) and (max-width: 1279px) {
    .popup__card {
        width: 65rem;
    }

    .popup__img {
        width: 35rem;
    }
    
    .popup__img img {
        width: 100%;
        height: 100%;
    }

    .popup__info {
        padding-left: 1rem;
        margin-top: 1rem;
        margin-right: 0.9rem;
    }

    .popup__info h4 {
        margin-bottom: 3rem;
    }

    .popup__info p {
        font-size: 1.3rem;
        line-height: 1.4rem;
        margin-bottom: 2rem;
    }

    .popup__subtitle {
        margin-bottom: 2rem;
    }

    .popup__item:not(:last-child) {
        margin-bottom: 0.1rem;
    }
}

@media only screen and (max-width: 767px) {
    .popup__card {
        width: 24rem;
    }

    .popup__close-btn {
        right: -3rem;
    }

    .popup__img {
        display: none;
    }

    .popup__info {
        margin: 1rem;
    }

    .popup__subtitle, .popup__title {
        align-self: center;
        text-align: center;
    }

    .popup__subtitle {
        margin-bottom: 3.5rem;
    }

    .popup__description {
        text-align: justify;
    }

    .popup__item:not(:last-child) {
        margin-bottom: 0;
    }
}